# Pandas basic part 2

- loc gets rows (and/or columns) with particular labels.

- iloc gets rows (and/or columns) at integer locations.

In [24]:
import pandas as pd

summer = pd.read_csv('data/summer.csv', index_col='Athlete')

summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

### Zero indexing vs negative indexing

In [25]:
# this is a series
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: HAJOS, Alfred, dtype: object

In [26]:
summer.iloc[-1]

Year                         2012
City                       London
Sport                   Wrestling
Discipline    Wrestling Freestyle
Country                       SWE
Gender                        Men
Event                    Wg 96 KG
Medal                      Bronze
Name: LIDBERG, Jimmy, dtype: object

In [27]:
summer.iloc[0:5]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [28]:
summer.iloc[-5:-1]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze

In [29]:
summer.iloc[0, 4]

'HUN'

In [30]:
summer.iloc[0, :3]

Year         1896
City       Athens
Sport    Aquatics
Name: HAJOS, Alfred, dtype: object

In [31]:
summer.iloc[34:39, [1, 2, 5, 7]]

                        City      Sport Gender   Medal
Athlete
GARRETT, Robert       Athens  Athletics    Men  Silver
KELLNER, Gyula        Athens  Athletics    Men  Bronze
LOUIS, Spyridon       Athens  Athletics    Men    Gold
VASILAKOS, Kharilaos  Athens  Athletics    Men  Silver
DAMASKOS, Evangelos   Athens  Athletics    Men  Bronze

In [32]:
summer.iloc[:, [1, 2, 5, 7]]

                             City      Sport Gender   Medal
Athlete
HAJOS, Alfred              Athens   Aquatics    Men    Gold
HERSCHMANN, Otto           Athens   Aquatics    Men  Silver
DRIVAS, Dimitrios          Athens   Aquatics    Men  Bronze
MALOKINIS, Ioannis         Athens   Aquatics    Men    Gold
CHASAPIS, Spiridon         Athens   Aquatics    Men  Silver
...                           ...        ...    ...     ...
JANIKOWSKI, Damian         London  Wrestling    Men  Bronze
REZAEI, Ghasem Gholamreza  London  Wrestling    Men    Gold
TOTROV, Rustam             London  Wrestling    Men  Silver
ALEKSANYAN, Artur          London  Wrestling    Men  Bronze
LIDBERG, Jimmy             London  Wrestling    Men  Bronze

[31165 rows x 4 columns]

In [33]:
summer.iloc[:, 4].equals(summer.Country)

True

In [34]:
summer.iloc[2]

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [35]:
summer.loc['DRIVAS, Dimitrios']

Year                                1896
City                              Athens
Sport                           Aquatics
Discipline                      Swimming
Country                              GRE
Gender                               Men
Event         100M Freestyle For Sailors
Medal                             Bronze
Name: DRIVAS, Dimitrios, dtype: object

In [36]:
summer.loc['PHELPS, Michael', ['Medal', 'Event']]

                  Medal                   Event
Athlete
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael  Bronze          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael  Bronze  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael    Gold          200M Butterfly
PHELPS, Michael    Gold          200M Freestyle
PHELPS, Michael    Gold  200M Individual Medley
PHELPS, Michael    Gold  400M Individual Medley
PHELPS, Michael    Gold  4X100M Freestyle Relay
PHELPS, Michael    Gold     4X100M Medley Relay
PHELPS, Michael    Gold  4X200M Freestyle Relay
PHELPS, Michael    Gold          100M Butterfly
PHELPS, Michael  Silver          200M Butterfly
PHELPS, Michael    Gold             200M Medley
PHELPS, Michael  Silver        4X100M Freestyle
PHELPS, Michael    Gold           4X100M Medley
PHELPS, Michael    Gold        4X200M Freestyle

In [37]:
summer.loc[:, ['Medal', 'Event']]

                            Medal                       Event
Athlete
HAJOS, Alfred                Gold              100M Freestyle
HERSCHMANN, Otto           Silver              100M Freestyle
DRIVAS, Dimitrios          Bronze  100M Freestyle For Sailors
MALOKINIS, Ioannis           Gold  100M Freestyle For Sailors
CHASAPIS, Spiridon         Silver  100M Freestyle For Sailors
...                           ...                         ...
JANIKOWSKI, Damian         Bronze                    Wg 84 KG
REZAEI, Ghasem Gholamreza    Gold                    Wg 96 KG
TOTROV, Rustam             Silver                    Wg 96 KG
ALEKSANYAN, Artur          Bronze                    Wg 96 KG
LIDBERG, Jimmy             Bronze                    Wg 96 KG

[31165 rows x 2 columns]

In [38]:
# error because of the index not being unique
# summer.loc[:'PHELPS, Michael', 'Medal']

In [39]:
summer.loc[:, 'Medal']

Athlete
HAJOS, Alfred                  Gold
HERSCHMANN, Otto             Silver
DRIVAS, Dimitrios            Bronze
MALOKINIS, Ioannis             Gold
CHASAPIS, Spiridon           Silver
                              ...
JANIKOWSKI, Damian           Bronze
REZAEI, Ghasem Gholamreza      Gold
TOTROV, Rustam               Silver
ALEKSANYAN, Artur            Bronze
LIDBERG, Jimmy               Bronze
Name: Medal, Length: 31165, dtype: object

In [40]:
summer.loc[:, 'Medal'].equals(summer.Medal)

True

### indexing

In [41]:
summer = pd.read_csv('data/summer.csv')

In [42]:
summer.loc[[0,5,3000], ['Medal', 'Event']]
# error because 40000 is not in the index
# summer.loc[[0,5,40000], ['Medal', 'Event']]

       Medal            Event
0       Gold   100M Freestyle
5     Bronze  1200M Freestyle
3000  Silver     110M Hurdles

In [43]:
summer.reindex([0,5,40000], ['Medal', 'Event', 'Age'])

C:\Users\Langl\AppData\Local\Temp\ipykernel_22332\855377411.py:1: FutureWarning: Interpreting call
	'.reindex(a, b)' as
	'.reindex(index=a, columns=b)'.
Use named arguments to remove any ambiguity. In the future, using positional arguments for 'index' or 'columns' will raise a 'TypeError'.
  summer.reindex([0,5,40000], ['Medal', 'Event', 'Age'])

        Medal            Event  Age
0        Gold   100M Freestyle  NaN
5      Bronze  1200M Freestyle  NaN
40000     NaN              NaN  NaN

In [44]:
summer.set_index('Athlete', inplace=True)

In [45]:
# error because the index is not unique
# summer.reindex([0,5,40000], ['Medal', 'Event', 'Age'])

In [48]:
summer[['Year', 'Medal', 'Event']].loc['JANIKOWSKI, Damian']

Year         2012
Medal      Bronze
Event    Wg 84 KG
Name: JANIKOWSKI, Damian, dtype: object

### Advanced

In [49]:
# getting first 5 rows and 678, 123
row =list(range(5)) + [678,123]
summer.iloc[row]

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
"KISS, Geza",1904,St Louis,Aquatics,Swimming,HUN,Men,1500M Freestyle,Silver
"PHRANGOUDIS, Joannis",1896,Athens,Shooting,Shooting,GRE,Men,50M Pistol (60 Shots),Bronze

In [54]:
# getting first 3 columns and Gender col
col = summer.columns[:3].to_list() + ['Gender']
summer.loc[:,col]

                           Year    City      Sport Gender
Athlete
HAJOS, Alfred              1896  Athens   Aquatics    Men
HERSCHMANN, Otto           1896  Athens   Aquatics    Men
DRIVAS, Dimitrios          1896  Athens   Aquatics    Men
MALOKINIS, Ioannis         1896  Athens   Aquatics    Men
CHASAPIS, Spiridon         1896  Athens   Aquatics    Men
...                         ...     ...        ...    ...
JANIKOWSKI, Damian         2012  London  Wrestling    Men
REZAEI, Ghasem Gholamreza  2012  London  Wrestling    Men
TOTROV, Rustam             2012  London  Wrestling    Men
ALEKSANYAN, Artur          2012  London  Wrestling    Men
LIDBERG, Jimmy             2012  London  Wrestling    Men

[31165 rows x 4 columns]

In [55]:
summer.loc['PHELPS, Michael', col]

                 Year     City     Sport Gender
Athlete
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2004   Athens  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2008  Beijing  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men
PHELPS, Michael  2012   London  Aquatics    Men