# Series part 2

In [1]:
import pandas as pd

pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
pd.read_csv('data/summer.csv', usecols=['Athlete'], squeeze=True)

C:\Users\Langl\AppData\Local\Temp\ipykernel_520\4204002374.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('data/summer.csv', usecols=['Athlete'], squeeze=True)

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [36]:
sr = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': None})

In [37]:
sr.sort_values()

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
dtype: float64

In [38]:
sr.sort_values(ascending=False)

f    6.0
e    5.0
d    4.0
c    3.0
b    2.0
a    1.0
g    NaN
dtype: float64

In [39]:
sr.sort_values(ascending=False, na_position='last')

f    6.0
e    5.0
d    4.0
c    3.0
b    2.0
a    1.0
g    NaN
dtype: float64

In [67]:
sr.sort_values(ascending=False, na_position='first')

g    NaN
f    6.0
e    5.0
d    4.0
c    3.0
b    2.0
a    1.0
dtype: float64

In [41]:
sr.sort_values(ascending=False, inplace=True)
sr

f    6.0
e    5.0
d    4.0
c    3.0
b    2.0
a    1.0
g    NaN
dtype: float64

In [42]:
sr.sort_index(ascending=True)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    NaN
dtype: float64

### nlagest & nsmallest

In [43]:
titanic = pd.read_csv('data/titanic.csv')

In [44]:
age = titanic.age

In [45]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [46]:
# nlargest find the n largest values
age.nlargest(3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [47]:
# nsmallest find the n smallest values
age.nsmallest(3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64

In [48]:
# idxmax & idxmin find the index of the largest and smallest values
age.idxmax()
# titanic.age.idxmax()

630

In [49]:
age.idxmin()

803

In [50]:
sales = pd.Series([10, 25, 6, 36, 2, 0, None, 5],
                  index=["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon"])

In [51]:
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
Mon     5.0
dtype: float64

In [52]:
sales['Sun']

nan

In [53]:
sales / 1.1

Mon     9.090909
Tue    22.727273
Wed     5.454545
Thu    32.727273
Fri     1.818182
Sat     0.000000
Sun          NaN
Mon     4.545455
dtype: float64

In [54]:
(sales / 1.1).round(2)

Mon     9.09
Tue    22.73
Wed     5.45
Thu    32.73
Fri     1.82
Sat     0.00
Sun      NaN
Mon     4.55
dtype: float64

In [55]:
sales['Mon'] = 0
sales

Mon     0.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
Mon     0.0
dtype: float64

In [56]:
age.iloc[0] = 99999

C:\Users\Langl\AppData\Local\Temp\ipykernel_520\2371190570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age.iloc[0] = 99999

In [57]:
# override the value of the original dataframe
titanic

     survived  pclass     sex      age  sibsp  parch     fare embarked deck
0           0       3    male  99999.0      1      0   7.2500        S  NaN
1           1       1  female     38.0      1      0  71.2833        C    C
2           1       3  female     26.0      0      0   7.9250        S  NaN
3           1       1  female     35.0      1      0  53.1000        S    C
4           0       3    male     35.0      0      0   8.0500        S  NaN
..        ...     ...     ...      ...    ...    ...      ...      ...  ...
886         0       2    male     27.0      0      0  13.0000        S  NaN
887         1       1  female     19.0      0      0  30.0000        S    B
888         0       3  female      NaN      1      2  23.4500        S  NaN
889         1       1    male     26.0      0      0  30.0000        C    C
890         0       3    male     32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [58]:
summer = pd.read_csv('data/summer.csv')
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [59]:
summer.axes

[RangeIndex(start=0, stop=31165, step=1),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
        'Event', 'Medal'],
       dtype='object')]

In [60]:
summer.set_index('Athlete', inplace=True)

In [61]:
summer.index[1:100]

Index(['HERSCHMANN, Otto', 'DRIVAS, Dimitrios', 'MALOKINIS, Ioannis',
       'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios', 'HAJOS, Alfred',
       'ANDREOU, Joannis', 'CHOROPHAS, Efstathios', 'NEUMANN, Paul',
       'PEPANOS, Antonios', 'LANE, Francis', 'SZOKOLYI, Alajos',
       'BURKE, Thomas', 'HOFMANN, Fritz', 'CURTIS, Thomas',
       'GOULDING, Grantley', 'LERMUSIAUX, Albin', 'FLACK, Edwin',
       'BLAKE, Arthur', 'GMELIN, Charles', 'BURKE, Thomas', 'JAMISON, Herbert',
       'GOLEMIS, Dimitrios', 'FLACK, Edwin', 'DANI, Nandor',
       'VERSIS, Sotirios', 'GARRETT, Robert', 'PARASKEVOPOULOS, Panagiotis',
       'CLARK, Ellery', 'CONNOLLY, James', 'GARRETT, Robert',
       'CONNOLLY, James', 'CLARK, Ellery', 'GARRETT, Robert', 'KELLNER, Gyula',
       'LOUIS, Spyridon', 'VASILAKOS, Kharilaos', 'DAMASKOS, Evangelos',
       'THEODOROPOULOS, Ioannis', 'HOYT, William Welles', 'TYLER, Albert',
       'PAPASIDERIS, Georgios', 'GARRETT, Robert', 'GOUSKOS, Miltiadis',
       'PERSAKIS, Ioannis', 'CONNOLLY, James', 'TUFFERI, Alexandre',
       'BATTEL, Edward', 'KONSTANTINIDIS, Aristidis', 'GOEDRICH, August',
       'FLAMENG, Léon', 'KOLETTIS, Georgios', 'SCHMAL, Adolf', 'MASSON, Paul',
       'FLAMENG, Léon', 'SCHMAL, Adolf', 'KEEPING, Frank', 'SCHMAL, Adolf',
       'MASSON, Paul', 'NIKOLOPOULOS, Stamatios', 'FLAMENG, Léon',
       'MASSON, Paul', 'NIKOLOPOULOS, Stamatios',
       'PIERRAKOS-MAVROMICHALIS, Perikles', 'GRAVELOTTE, Eugène-Henri',
       'CALLOT, Henri', 'PYRGOS, Leonidas', 'PERRONNET, Maurice',
       'NIELSEN, Holger', 'GEORGIADIS, Ioannis', 'KARAKALOS, Telemachos',
       'WEINGÄRTNER, Hermann', 'FLATOW, Alfred', 'FLATOW, Alfred',
       'ZUTTER, Louis', 'ZUTTER, Louis', 'WEINGÄRTNER, Hermann',
       'PERSAKIS, Petros', 'MITROPOULOS, Ioannis', 'WEINGÄRTNER, Hermann',
       'HOFMANN, Fritz', 'ANDRIAKOPOULOS, Nicolaos', 'XENAKIS, Thomasios',
       'BÖCKER, Konrad', 'FLATOW, Alfred', 'FLATOW, Gustav Felix',
       'HILMAR, Georg', 'HOFMANN, Fritz', 'MANTEUFFEL, Fritz',
       'NEUKIRCH, Karl', 'RÖSTEL, Richard', 'SCHUFT, Gustav', 'SCHUMANN, Carl',
       'WEINGÄRTNER, Hermann', 'CHRYSAPHIS, Ioannis', 'KARVELAS, Phillippos',
       'LOUNDRAS, Dimitrios', 'MITROPOULOS, Ioannis', 'BÖCKER, Konrad'],
      dtype='object', name='Athlete')

In [62]:
summer.columns.to_list()

['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal']

In [63]:
summer.index.is_unique

False

Create index objects

In [64]:
list_1 = [1,2,3]
pd.Index(list_1, name='days')

Int64Index([1, 2, 3], dtype='int64', name='days')

In [65]:
 
# summer.reset_index(drop=True)
summer.set_index('Year', inplace=True, drop=True)
summer

,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,
1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...
2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [66]:
summer.index[0] = 1000

TypeError: Index does not support mutable operations

In [ ]:
summer.index.size

In [ ]:
new_index = ['medal_no {}'.format(i) for i in range (1, summer.index.size +1 )]
new_index

# Column Label

In [ ]:
titanic.columns[0] = 'survival'

In [ ]:
titanic.columns = ['survived?', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck']
titanic

In [ ]:
titanic.columns.name = 'pass_char'
titanic

In [ ]:
titanic.index.name = 'Passenger_no'
titanic

In [ ]:
summer= pd.read_csv("data/summer.csv", index_col = "Athlete")
summer.rename(mapper = {"HAJOS, Alfred":'HAYOS, Alfred'}, axis = "index")

In [ ]:
summer.rename(index = {"HAJOS, Alfred":'HAYOS, Alfred'}, inplace=True)
summer

In [ ]:
summer.rename(columns = {"Sex":"Gender", "City":"Host_City"}, inplace = True)
summer.rename(mapper = {"Sex":"Gender", "City":"Host_City"}, axis = "columns")

In [ ]:
mask2 = titanic.age > 14
mask2.head()

In [ ]:
mask1 = titanic.sex == "male"
mask1.head()

In [ ]:
(mask1 & mask2).head()